<!-- Sidebar navigation -->
<ul id="slide-out" class="side-nav fixed custom-scrollbar">

    <!-- Logo -->
    <li>
        <div class="logo-wrapper waves-light sn-avatar-wrapper">
            <a href="#">
                <img src="http://mdbootstrap.com/images/avatars/img%20(8)" class="img-circle">
            </a>
        </div>
    </li>
    <!--/. Logo -->

    <!--About-->
    <li>
        <div class="about">
            <p>Full Administrator.</p>
        </div>
    </li>
    <!--/.About-->

    <!--Social-->
    <li>
        <ul class="social">
            <li><a href="https://twitter.com/MDBootstrap" target="_blank" class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
            <li><a href="https://www.facebook.com/mdbootstrap" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
            <li><a href="https://dribbble.com/mdbootstrap" target="_blank" class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a></li>
            <li><a href="https://www.linkedin.com/in/michal-szymanski-9228918a" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a></li>
            <li><a href="https://www.instagram.com/material_design_for_bootstrap/" target="_blank" class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a></li>
        </ul>
    </li>
    <!--/Social-->

    <!-- Side navigation links -->
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a routerLink="/" class="waves-effect arrow-r">
                    <i class="fa fa-home"></i>
                    Dashboard
                </a>
            </li>

            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="fa fa-cog"></i>
                    System
                    <i class="fa fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a routerLink="/system/settings" class="waves-effect">
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect">
                                Packages
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </li>
    <!--/. Side navigation links -->

</ul>
<!--/. Sidebar navigation -->
