<!--Navbar-->
<nav class="navbar navbar-fixed-top scrolling-navbar double-nav">

    <!-- SideNav slide-out button -->
    <div class="pull-left">
        <a href="javascript:void(0);" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
    </div>

    <!-- Breadcrumb-->
    <div class="breadcrumb-dn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </div>


    <ul class="nav navbar-nav pull-right">


        <li class="nav-item ">
            <a class="nav-link"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Contact</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link"><i class="fa fa-comments-o"></i> <span class="hidden-sm-down">Support</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link"><i class="fa fa-sign-in"></i> <span class="hidden-sm-down">Register</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="hidden-sm-down">Profile</span></a>
            <div class="dropdown-menu dropdown-primary dd-right" aria-labelledby="dropdownMenu1"
                 data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <a class="dropdown-item" href="#">Logout</a>
                <a class="dropdown-item" href="#">My account</a>
            </div>
        </li>
    </ul>

</nav>
<!--/.Navbar-->
