<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{breadcrumb.description}}</h2>
        <ol class="breadcrumb text-capitalize">
            <li>
                <a routerLink="/">Home</a>
            </li>

            <li *ngFor="let route of routes; let last = last" [ngClass]="{'active': last}"> <!-- disable link of last item -->
                <a role="button" *ngIf="!last" (click)="navigateTo(route.url)">{{friendlyName(route)}}</a>
                <span *ngIf="last">{{friendlyName(route)}}</span>
            </li>
        </ol>
    </div>
</div>
