<div id="wrapper" >
    <app-nav-bar-left [hidden]="!appState.state.authorized"></app-nav-bar-left>

    <div [ngClass]="getWrapperClasses()">
        <app-nav-bar-top [hidden]="!appState.state.authorized"></app-nav-bar-top>

        <app-breadcumb [hidden]="!appState.state.authorized"></app-breadcumb>

        <main [ngClass]="getMainClasses()">
            <router-outlet></router-outlet>
        </main>

        <app-footer [hidden]="!appState.state.authorized"></app-footer>

    </div>

</div>
